
        // ────────────── Output Configuration ────────────── //

 output "DP-1" {
    mode "2560x1440@165.003"
    hdr mode="on" {
        reference-luminance 203
    }
    scale 1
    position x=0 y=0
    variable-refresh-rate on-demand=true
    focus-at-startup
}

 output "DP-2" {
   mode "2560x1440@164.958"
   position x=-2560 y=0
   scale 1
}
