  prefer-no-csd
  screenshot-path null

  environment {
    TERMINAL "ghostty"

    GTK_IM_MODULE "simple"

       // wayland
    ELECTRON_OZONE_PLATFORM_HINT "wayland"
    QT_QPA_PLATFORM "wayland"
    SDL_VIDEODRIVER "wayland,x11"
    CLUTTER_BACKEND "wayland"
    ELM_DISPLAY "1"
    _JAVA_AWT_WM_NONREPARENTING "1"

       // theming
     QT_QPA_PLATFORMTHEME "qt6ct"
     QT_QPA_PLATFORMTHEME_QT6 "qt6ct"
     GTK_THEME "MacTahoe-Dark-alt-pink"
  }

   blur {
    passes 3
    offset 3
    noise 0.10
    saturation 2.0
   }

  recent-windows {
    debounce-ms 750
    open-delay-ms 150

    highlight {
        active-color "#E0AFFF"
        urgent-color "#ff9999ff"
        padding 30
        corner-radius 8
    }

    previews {
        max-height 240
        max-scale 0.5
    }

    binds {
        Alt+Tab         { next-window; }
        Alt+Shift+Tab   { previous-window; }
        Alt+grave       { next-window     filter="app-id"; }
        Alt+Shift+grave { previous-window filter="app-id"; }

        Mod+Tab         { next-window; }
        Mod+Shift+Tab   { previous-window; }
        Mod+grave       { next-window     filter="app-id"; }
        Mod+Shift+grave { previous-window filter="app-id"; }
    }
  }

  cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 28
  }

  debug {
    honor-xdg-activation-with-invalid-serial
   // skip-cursor-only-updates-during-vrr
   // disable-cursor-plane
   // enable-overlay-planes
  }

  hotkey-overlay {
    skip-at-startup
  }
