  window-rule {
    geometry-corner-radius 6
    clip-to-geometry true
    opacity 0.90
    draw-border-with-background false
    background-effect {
      blur true
      xray false
    }
  }

  window-rule {
    match app-id="Nautilus"

    popups {
        // Matches the default libadwaita pop-up corner radius.
        geometry-corner-radius 15

        // Note: it'll look better to set background opacity
        // through your GTK theme CSS and not here.
        // This is just an example that makes it look obvious.
        opacity 0.96

        background-effect {
            blur true
            // Unlike normal windows, popups default to "xray false"
            xray false
        }
    }
  }

  window-rule {
    match app-id="vivaldi-stable$"
    match app-id="steam$"
    match app-id="vesktop$"
    match app-id="spotify$"
    open-maximized true
  }

  window-rule {
    match app-id="steam"
      exclude title=r#"^[Ss]team$"#
    match app-id="^firefox$" title="^Picture-in-Picture$"
    match title="Vivaldi Settings: General - Vivaldi$"
    match app-id="^com.shellyorg.shelly$"
    match app-id="^org.gnome.Nautilus$"
    match app-id=r#"com.danklinux.dms$"#
    open-floating true
  }

  window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
      default-floating-position x=10 y=10 relative-to="bottom-right"
    open-focused true
    open-floating true
  }

  window-rule {
    match app-id="^steam_app_.*$"
    match app-id="(steam_app).*$"
    match app-id="^.*\\.exe$"
    match app-id="^HytaleClient$"
    match title="^.*minecraft.*$"
    variable-refresh-rate true
    allow-tearing true
  }

  window-rule {
    match app-id="^steam_app_.*$"
    match app-id="(steam_app).*$"
    open-on-output "DP-1"
  }

  window-rule {
    match app-id="^vesktop$"
    open-on-output "DP-2"
  }

  layer-rule {
    match layer="top"
    match layer="overlay"
    opacity 0.90
      background-effect {
        xray false
      }
  }

  layer-rule {
    match namespace="quickshell:iiBackdrop"
    place-within-backdrop true
    opacity 1.0
  }

  layer-rule {
    match namespace="quickshell:wBackdrop"
    place-within-backdrop true
    opacity 1.0
  }

  layer-rule {
    match namespace="^quickshell$"
    match namespace="^noctalia-wallpaper*"
    match namespace="^awww-daemon$"
    place-within-backdrop true
  }

 // layer-rule {
 //   match namespace="^noctalia-(background|launcher-overlay|dock)-.*$"
 //   background-effect {
 //    xray false
 //  }
 // }
