[Desktop Entry]
Actions=Settings;
Categories=Settings;DesktopSettings;
Comment=A sleek, customizable desktop shell crafted for Wayland.
Exec=noctalia --daemon
Icon=noctalia
Name=Noctalia
StartupNotify=false
Terminal=false
Type=Application

[Desktop Action Settings]
Exec=sh -c "noctalia msg settings-open || { noctalia --daemon && noctalia msg settings-open; }"
Name=Open Settings
